* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(255, 255, 255) !important;
  font-family: sans-serif;
  padding: 1rem;
}

.card-size {
  width: 13rem;
  object-fit: cover;

}

.img-size {
  height: 15rem !important;

}