* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}


/* NAVBARCSS */

#logo-sizing {
  max-height: 30px;
  padding-right: 10%;
}

.dimension-header {
  justify-content: space-between;
  padding: 2% 1% 2% 1%;

}

#nav-login {
  display: flex;
  height: 25px;
  padding-right: 2%;
}

.nav-color-bar {
  color: white;
  font-size: large
}

#nav-text {
  font-weight: 700;
}